html(lang="es")
    head
        title Usuario incorrecto
        link(rel="stylesheet" href="css/404.css")
    body(translate="no")
        img(
        width="1300"
        height="600"
        class="mb-4"
        src="https://static.vecteezy.com/system/resources/previews/001/986/251/original/404-error-neon-sign-bright-red-warning-sign-on-dark-brick-wall-background-error-page-not-found-concept-neon-signboard-vector.jpg")
.cloak__wrapper
  .cloak__container
    .cloak
.info
    div(align="center")
      h2 Credenciales incorrectas.
      p.
        Favor de verificar sus credenciales para poder ingresar al sistema.
      br
      a(href="/" rel="noreferrer noopener") Regresar